<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Delete Confirm Page</title>
  </head>
  <body>
 
 <center><h1> Blog Post Deleted </h1></center>

  <h2><%=@deleted_post.name%> was deleted</h2>

  <center><a href="/posts">Click here to go back to home page.</a></center>

  </body>
</html> 
