<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Page</title>
  </head>
  <body>
    <h1><center>Welcome to Valerie's Blog Page</center></h1>

   <% @posts.each_with_index do |post, index| %>
   		<<p><%=index + 1 %> <%= post.name %></p>
   		<p> Content: <%= post.content %> </p>
   	<% end %>

<center><a href="posts/new">Click here to create new blog post.</a></center

      
  </body>
</html>