<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Input Page</title>
  </head>
  <body>
 
 <center><h1> Create a new blog post </h1></center>

  <form method="POST" action="/posts">
  <p> Name: <input id="name" type="text" name="post[name]"></p>
  <p>Content: <input id="content" type="text" name="post[content]"></p>


  <input type="submit" name="Submit" value="submit"></form>




  </body>
</html>